<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="../../../assets/pexels-olena-bohovyk-3646172.jpg"
      alt="placeholder-image"
      height="200px"
      width=""
      >

  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>

  </div>

  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, quaerat ea autem eaque obcaecati quas exercitationem magni accusantium cumque natus consectetur unde, voluptate voluptatem, tempora quia soluta! Dolorem, blanditiis maiores?
      </a>
    </p>

  </div>
</div>
