<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
    photoCover="../../../assets/pexels-olena-bohovyk-3646172.jpg"
    cardTitle="Goodreads Librarians Group"
    cardDescription="A place where all Goodreads members can work together to improve the Goodreads book catalog. Non-librarians are welcome to join the group as well, to comment or request changes to book records."
    >
  </app-big-card>
  </div>

  <div class="articles__other">
    <app-small-card
      cardTitle="2022 Goodreads Choice Awards Winners Announced"
      photoCover="../../../assets/blaz-photo-zMRLZh40kms-unsplash.jpg"
    >
    </app-small-card>

    <app-small-card
      cardTitle="Young Adult Fiction for Adults"
      photoCover="../../../assets/thought-catalog-o0Qqw21-0NI-unsplash.jpg"
    >
    </app-small-card>

    <app-small-card
      cardTitle="The 17 best books of 2022, from 'I'm Glad My Mom Died' to Amanda Gorman's poetry"
      photoCover="../../../assets/christin-hume-k2Kcwkandwg-unsplash.jpg"
    >
    </app-small-card>
  </div>
</div>
