<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://images.gr-assets.com/misc/1695318155-1695318155_goodreads_misc.png"
      cardTitle="Readers' Top 66 Horror Novels of the Past Three Years"
      cardDescription="For devotees of the horror genre, Halloween is the best holiday on the calendar. Once a year, like creepy clockwork, the culture at large acknowledges the best things in life and unlife: revenants, witches, haunted houses, derelict amusement parks, and nightmare fungal issues."
    >
  </app-big-card>
  </div>

  <div class="articles__other">
    <app-small-card
      Id="2"
      cardTitle="Enchanting to Wicked: 36 New Witch Books to Read Now"
      photoCover="https://images.gr-assets.com/misc/1692912242-1692912242_goodreads_misc.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="64 New Books to Scratch That Romantasy Itch"
      photoCover="https://images.gr-assets.com/misc/1692993266-1692993266_goodreads_misc.png"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="54 New Books to Discover This Hispanic Heritage Month"
      photoCover="https://images.gr-assets.com/misc/1692911951-1692911951_goodreads_misc.png"
    >
    </app-small-card>
  </div>
</div>
